scheme/CAPPDC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://calpreservation.org/projects/audiovisual-preservation/dcscheme.html"
  xmlns="http://calpreservation.org/projects/audiovisual-preservation/dcscheme.html">
  <xs:element name="CollectionReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DescriptionDocument">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DublinCore">
                <xs:annotation>
                  <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Represents the content of the item.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" maxOccurs="unbounded" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Main or supplied title of the object.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="creator" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Person(s) or organizations primarily responsible for creating an object. The creator may be considered an author and may be one or more people, a business, organization, group, project or service. Format: Last Name, First Name. Separate multiple names with a semicolon. Please use controlled vocabulary if applicable.

Vocabulary: Library of Congress Name Authority File http://authorities.loc.gov/</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Separate multiple subjects. Please use controlled vocabulary if applicable. Vocabulary: Library of Congress Subject Headings http://authorities.loc.gov/</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="description" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Description or content summary.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="publisher"
                      type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Person or organization primarily responsible for distributing or making an object available to others. Publisher may be a person, a business, organization, group, project or service. Format: Last Name, First Name. Separate multiple names with a semicolon. Please use controlled vocabulary if applicable. Vocabulary: Library of Congress Name Authority File http://authorities.loc.gov/
</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="contributor"
                      type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Person(s) or organizations responsible for contributing to an object. Format: Last Name, First Name. Separate multiple names with a semicolon. Please use controlled vocabulary if applicable. Vocabulary: Library of Congress Name Authority File http://authorities.loc.gov/
</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="date" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Date created. Enter YYYY-MM-DD. If unknown, enter "Unknown."</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" name="type" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Please use controlled Vocabulary: Moving Image; Sound; Text; Still Image.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="format" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Non A/V controlled vocabulary: Book; Broadside (notice); Drawing (visual work); Engraving (print); Lithograph; Manuscript (document genre); Map (document); Newspaper; Photograph.
See controlled vocabulary for A/V: http://metadataregistry.org/concept/list/vocabulary_id/145.html</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="identifier"
                      type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">To be supplied by the California Preservation Service. </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="source">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Name of owning institution.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="url">
                              <xs:simpleType>
                                <xs:restriction base="xs:anyURI">
                                  <xs:pattern value="https?://.+"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="type" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="language" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">If English, enter “eng.” Please use controlled vocabulary. Vocabulary: ISO 639.2 Codes for Names of Languages http://www.loc.gov/standards/iso639-2/php/code_list.php</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="relation" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">List related Title(s) or Identifier(s) if object shares an intellectual bond with another object or belongs in a series. </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="coverage">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Identifies a span of space that is expressed by the intellectual content of a media item. Please use controlled vocabulary, if applicable. Vocabulary: Library of Congress Subject Headings: http://authorities.loc.gov/</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="type" type="xs:string"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rights" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Three boilerplate statements are supplied — amend the statements as needed:

1) Public domain. No restrictions on use.

2) Copyrighted. Rights are owned by [Library/Archive or Copyright Holder]. Copyright
Holder has given Institution permission to provide access to the digitized work online.
Transmission or reproduction of materials protected by copyright beyond that allowed
by fair use requires the written permission of the copyright owner. In addition, the
reproduction of some materials may be restricted by terms of gift or purchase
agreements, donor restrictions, privacy and publicity rights, licensing and trademarks.
Works not in the public domain cannot be commercially exploited without permission of
the copyright owner. Responsibility for any use rests exclusively with the user.

3) Copyright status unknown. This work may be protected by the U.S. Copyright Law (Title
17, U.S.C.). In addition, its reproduction may be restricted by terms of gift or purchase
agreements, donor restrictions, privacy and publicity rights, licensing and trademarks.
This work is accessible for purposes of education and research. Transmission or
reproduction of works protected by copyright beyond that allowed by fair use requires
the written permission of the copyright owners. Works not in the public domain cannot
be commercially exploited without permission of the copyright owner. Responsibility for
any use rests exclusively with the user. [Library/Archive] attempted to find rights owners
without success but is eager to hear from them so that we may obtain permission, if
needed. Upon request to[email at Library/Archive], digitized works can be removed
from public view if there are rights issues that need to be resolved</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Assets">
                <xs:annotation>
                  <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The Assets element allows grouping of PREMIS-like and technical metadata about the record's physical object and object's digital surrogates.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="objectID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Unique identifier to be supplied by the California Preservation Service. </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="projectID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Project identifier be supplied by the California Preservation Service.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="physicalLocation" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Name of owning institution. </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="dimensionsHeight" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The DimensionsHeight element describes the height of the physical object which is qualified by a unit attribute.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unit" type="xs:string" use="required">
                              <xs:annotation>
                                <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Represent the unit used to measure the physical item. Should be a physical unit and words spelled out instead of using abbreviations. 

For example: inches and centimeters.</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dimensionsWidth" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The DimensionsWidth element describes the width of the physical object which is qualified by a unit attribute.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unit" type="xs:string" use="required">
                              <xs:annotation>
                                <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Represent the unit used to measure the physical item. Should be a physical unit and words spelled out instead of using abbreviations. 

For example: inches and centimeters.</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="color" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The color element describes whether the physical object made up of content that is black and white, color, or a mixture.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="hasParts" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Describes the object's total number of parts. For example, "1 page" or "3 pages of 3."</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="additionalDescription" type="xs:string">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Additional descriptive notes about the object that do not fit into fields above. </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" name="AssetPart">
                      <xs:annotation>
                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The AssetPart element allows for grouping of the various parts in a record, allowing the representation of complex object.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Instantiations" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The Instantiations element allows for the grouping of all the instantations for a given asset.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Instantiation" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fileName">
                                        <xs:annotation>
                                          <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Name of the digital file with the file extension.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="unit">
                                                <xs:annotation>
                                                  <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The unit used for the file size using the initials only. For example: MB for megabytes and b for bits.</xs:documentation>
                                                </xs:annotation>
                                              </xs:attribute>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="fileSize">
                                        <xs:annotation>
                                          <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The size of the digital file as a decimal or a whole number only. Qualified by a file size unit attribute.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:decimal">
                                              <xs:attribute name="unit">
                                                <xs:annotation>
                                                  <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Unit should contain the full name and not an abbreviation. For example: megabytes instead of MB.</xs:documentation>
                                                </xs:annotation>
                                              </xs:attribute>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="checksum">
                                        <xs:annotation>
                                          <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Contains the hash value of a checksum verification algorithm. Qualified by a type attribute.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="type">
                                                <xs:annotation>
                                                  <xs:documentation>Represents the type of checksum algorthim used.</xs:documentation>
                                                </xs:annotation>
                                              </xs:attribute>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="derivedFrom" type="xs:string">
                                        <xs:annotation>
                                          <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Refers to the source of instantiation. This will be designated by Physical Object for preservation masters and the file name it was derivated from for access files.</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="Technical">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="fileFormat" type="xs:string">
                                              <xs:annotation>
                                                <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Specifies the MIME type of the file.</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="imageFormat" type="xs:string"/>
                                            <xs:element name="resolutionWidth">
                                              <xs:annotation>
                                                <xs:documentation source="California Preservation Service Metadata Guidelines">Specifies the x dimensions of the digital file. Qualified with a unit.</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:nonNegativeInteger">
                                                  <xs:attribute name="unit" use="required"
                                                  type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Almost always pixels.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="resolutionHeight">
                                              <xs:annotation>
                                                <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Specifies the y dimensions of the digital file. Qualified with a unit.   </xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:nonNegativeInteger">
                                                  <xs:attribute name="unit" use="required"
                                                  type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Almost always pixels.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="1" name="colorSpace">
                                              <xs:annotation>
                                                <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Specifies the type of color space used by the digital file.</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string"/>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="chromaSubsampling">
                                              <xs:annotation>
                                                <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Specifies the Chroma Subsampling as a ratio in the format integer:integer:integer. For example 4:2:2. All other formated values will be considered invalid. 

In the absence of subsampling, the value of this element is 4:4:4. 

</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:NMTOKEN">
                                                  <xs:pattern value="\d+:\d+:\d+"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="colorDepth">
                                              <xs:annotation>
                                                <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">The bit depth per channel. Qualified with a unit.</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:nonNegativeInteger">
                                                  <xs:attribute name="unit" type="xs:string"
                                                  use="required"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="compressionMode">
                                              <xs:annotation>
                                                <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Designates the type of compression. 

Only values accepted are Lossless, Lossy, Uncompressed, or Unknown. All other values will be considered as invalid.</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="Lossless"/>
                                                  <xs:enumeration value="Lossy"/>
                                                  <xs:enumeration value="Uncompressed"/>
                                                  <xs:enumeration value="Unknown"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element minOccurs="0"
                                              name="additionalTechnicalNotes" type="xs:string">
                                              <xs:annotation>
                                                <xs:documentation source="California Preservation Service Metadata Guidelines">California Preservation Service Metadata Guidelines</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="generation" type="xs:string" use="required">
                                      <xs:annotation>
                                        <xs:documentation source="California Preservation Service Metadata Guidelines" xml:lang="en">Represents the generation and use classification of the file. 
The most common values used will be Preservation and Access.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="relationship" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="collectionSource" use="required" type="xs:string"/>
      <xs:attribute name="projectSource" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
